@import 'reset';
@import 'variables';

body {
  background: #252E3D;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $colorSecondary;
  ul {
    height: 100%;
    li {
      height: auto;
      padding: 1rem 1.5rem;
      display: inline-block;
      background: $colorPrimary;
      color: $colorWhite;
      cursor: pointer;
      &:hover {
        background: darken($colorPrimary, 10%);
      }
    }
  }
}

// https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/
// parcel build index.html --public-url ./
// git subtree push --prefix dist origin gh-pages